 ".navbar {"
    background-color: #333;
    overflow: hidden;
    font-size: 1.2em;
    padding: 1em;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
".main-content {"
    padding-top: 5em;
}
main
    padding: 2em 1em;
    text-align: center;
}
 "#home h1 {"
  margin-bottom: 0.5em;
  font-size: 2.5em;
  color: #666;
}
"#home p {"
  font-size: 1.2em;
  color: #888;
}
".navbar ul {"
    "list-style: none;"
    margin: 0;
    padding: 0;
}
 ".navbar ul li {"
    display: inline;
    margin: 0 1em;
}
".navbar ul li a {"
    color: #fff;"
}
"section {"
  padding: 2em 1em;
}
 ".portfolio-container {"
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
}
.portfolio-item {
  background-color: #fff;
  margin: 1em;
  padding: 1em;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  box-sizing: border-box;
  transition: transform 0.3s;
}
".portfolio-item h3 {"
  "font-weight: bold;"
  margin-bottom: 0.5em;
}
".portfolio-item p {"
  margin-bottom: 0.5em;
  color: #666;
}
 ".portfolio-item img {"
  max-width: 100%;
  "box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);"
}
".portfolio-item:hover {"
    transform: scale(1.05);
}
 "#footer {"
    background-color: #222;
    color: #fff;
    text-align: center;
     "padding: 2em;"
    position: relative;
    width: 100%;
    bottom: 0;
}
